html, body {
text-align: center;

}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background-image: url(img/guitar.jpg);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #F1F5F8;
}
*
{
  margin: 0 auto 0 auto;
 text-align:center;}


#header h1
{
	display: compact;
	float: left;
	line-height: 70px;
	margin-left: 17px;
	width: 230px;
	color: #FFFFFF;
	text-align: left;
	font-size: 23px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
}


#header ul {
	padding: 0px;
	list-style-type: none;
	height:21px;
	text-align:center;
	height:85px;
	overflow:hidden;
}
#header ul li , #header ul li a, #header ul li a:visited{
	display:block;
	float:left;
	margin: 0px;
	text-align:center;
	line-height:72px;
	width:133px;
	color:#FFFFFF;

	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}

#header ul li a:hover{
color:#CCCCCC;
}



#main 
{
margin-top:10px;
margin-bottom:10px;
}


#main .main_top
{
height:22px;
width:921px;
background-image:url(img/main_top.png)
background-repeat:no-repeat;
}

#main .main_body
{

padding-left:0px;
height:auto;
width:921px;
background-image:url(img/main_body.png)
background-repeat:repeat-y;
color:#000000;
padding-bottom:20px;


}


#main .main_top h1
{
font-size:24px;
line-height:85px;
color:#FFFF;
padding-left:25px;
background-image:url(img/header_h1_bg.png)
background-position:right;
background-repeat:no-repeat;
margin-right:25px;
}

#main .main_body p
{
line-height:19px;
letter-spacing:1px;
padding-bottom:15px;
padding-left:20px;
padding-right:20px;
}


#main .main_bottom
{
height:8px;
width:921px;
background-image:url(img/main_bottom.png)
background-repeat:no-repeat;
}


#page
{
  margin: 0 auto 0 auto; 
  margin-top:25px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 921px;
}

#header
{
background-image:url(img/header.png);
background-repeat:no-repeat;
width:921px;
height:72px;
}



#footer {
display:block;
width: 921px;
height:74px;
background: url(img/footer.png) no-repeat;
text-align:right;
font-size:9px;
line-height:75px;
}

#footer p{
padding-right:20px;
text-align:right;
}

#footer, #footer a, #footer a:visited{
color:#FFFFFF;
}

#footer a:hover{
text-decoration:none;
color:#CCCCCC;
}
.product_wrapper {
	float:left;
	padding: 10px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
	}
.product_wrapper .buy {
	text-transform: uppercase;
	background: #F68B1E;
	border: 1px solid #F68B1E;
	cursor: pointer;
	color: #FFF;
	padding: 8px 40px;
	margin-top: 10px;
}
.product_wrapper .buy:hover {
	background: #f17e0a;
	border-color: #FFFFFF;
}
.message_box .box{
	margin: 10px 0px;
	border: 1px solid #2b772e;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	}
.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 10px;
		);
	}
.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
		
	}
.cart_div a {
	color: #FFFFFF;		
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
	background: none;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}
